DB_HOST=localhost
DB_USER=root
DB_PASS=123456
DB_NAME=database
TOKEN_SECRET=qwdeqweqwe
PORT=3001
SENTRY_DSN=https://<key>@sentry.io/<project>
APP_HOST=http://localhost
APP_PORT=3000
AWS_API_VER='2010-12-01'
AWS_REGION='us-east-1'
SES_KEY='AWS_ACCESS_KEY_ID'
SES_SECRET_ACCESS_KEY='AWS_SECRET_ACCESS_KEY'
SES_FROM='host' 



